* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "News Cycle", helvetica;
  font-size: 1.2em;
}

.clearbox {
  clear: both;
}

header {
  background-color: #eeeeee;
}

nav {
  max-width: 1000px;
  height: 6em;
  margin: auto;
}

.past {
  font-size: 1.5em;
  margin: auto;
  line-height: 4em;
  float: left;
  color: #2b3f48;
}

.listnav {
  float: right;
  line-height: 6em;
  list-style-type: none;
  text-decoration: none;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

.listnav a {
  text-decoration: none;
  color: #2b3f48;
  transition: color 0.5s;
}

.listnav a:hover {
  color: #27AE61;
}

.firstzone {
  text-align: center;
  background-image: url("banner.png");
  background-color: #31aa65;
  background-size: cover;
}

.firstcontain {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 5em;
  padding-top: 3em;
}


.pic1, .pic2, .pic3 {
  width: 16%;
  height: 16%;
  border-radius: 50%;
  text-align: center;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
  transition: all 1s;
  display: inline-block;
}

@media (max-width: 800px) {
  .teste {
    display: none;
  }
  .firstzone h2 {
    font-size: 1em;
  }
}

.pic1:hover, .pic2:hover, .pic3:hover {
  width: 320px;
  height: 320px;
}

.titlefirst {
  font-size: 3.2em;
  color: white;
}

.undertitlefirst {
  color: rgba(255,255,255,.5);
  font-size: 22px;
  margin-bottom: 50px;
}

.txtfirst {
  color: #d0eadb;
  font-size: 17px;
  margin-bottom: 90px;
}

.buttonfirst {
  text-decoration: none;
  color: white;
  border: 0.2em solid #2b3f48;
  border-radius: 1em;
  background-color: #2b3f48;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
  transition: all 0.5s;
}

.buttonfirst:hover {
  box-shadow: 0px 0px 0px 1px #2b3f48;
}

.secondzone {
  background-color: #eeeeee;
}

.secondcontain {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 7em;
}

.titlesecond {
  font-size: 55px;
  color: #2b3f48;
  padding-top: 2em;
}

.undertitlesecond {
  color: #2b3f48;
  font-size: 22px;
  margin-bottom: 2em;
}

.txtsecond {
  color: #2b3f48;
  font-size: 17px;
  margin-bottom: 5.2em;
}

.buttonsecond {
  text-decoration: none;
  color: white;
  border: 0.2em solid #27ae61;
  border-radius: 1em;
  background-color: #27ae61;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
  transition: all 0.5s;
}

.buttonsecond:hover {
  box-shadow: 0px 0px 0px 1px #27ae61;
}

.thirdzone {
  background-color: #27ae61;
}

.thirdcontain {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 7em;
}

.titlethird {
  font-size: 55px;
  color: white;
  padding-top: 2em;
}

.undertitlethird {
  color: rgba(255,255,255,.5);
  font-size: 22px;
  margin-bottom: 2em;
}

.txtthird {
  color: #d0eadb;
  font-size: 17px;
  margin-bottom: 5.3em;
  text-decoration: none;
}

.lienpara {
  text-decoration: none;
  font-size: 17px;
  color: white;
  text-decoration: underline;
}

.boldword {
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.buttonthird {
  text-decoration: none;
  color: #27ae61;
  border: 0.2em solid white;
  border-radius: 1em;
  background-color: white;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
  transition: all 0.5s;
}

.buttonthird:hover {
  box-shadow: 0px 0px 0px 1px white;
}

footer {
  padding-bottom: 5em;
  background-color: #eeeeee;
}

.containfoot {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.txtfooter {
  font-size: 17px;
  color: #8d8d8d;
  padding-top: 85px;
}

.linkfoot {
  text-decoration: none;
  color: #2b3f48;
  font-size: 17px;
}
